{{#if img}}
<div class="question-image" style="background-image:url({{ img }});">
    <h1 class="question-title" style="background-color:rgba({{ bgColorRGB }})">{{ title }}</h1>
</div>
{{else}}
<h1 class="question-title">{{ title }}</h1>
{{/if}}
{{#each options}}
    <div class="one-third">
        <div class="question-img-answer-container question-answer-container">
            <div class="label-container">
                <span class="helper"></span>
                <input type="radio" id="option-{{ index }}" name="option" value="{{ index }}">
                <label class="answer-label" for="option-{{ index }}">
                    {{ alphaIndex }}
                </label>
            </div>
            <div class="answer-img" style="background-image:url({{ img }});"></div>
            <h2 class="question-img-answer">{{ text }}</h2>
        </div>
    </div>
{{/each}}