<div class="email-container">
	<div class="email-modal">
		<div class="email-content">
			{{#if logo}}
	            <div class="email-logo"><img src="{{ logo }}" height="55"></div>
			{{/if}}
			{{#if mailHeading}}
			    <h1 class="email-title">{{ mailHeading }}</h1>
			{{else}}
			    <h1 class="email-title">Enter your email to see your results!</h1>
			{{/if}}
			{{#if mailSubheading}}
			    <h2 class="email-subtitle">{{ mailSubheading }}</h2>
			{{else}}
			    <h2 class="email-subtitle">We will send you fun and infrequent updates.</h2>
			{{/if}}
			<div id="email-error" class="alert alert-danger text-center hide">Please enter a valid email address.</div>
	        <form id="feedburner-form" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow">
			    <input type="text" id="email" name="email" value="" class="form-control" placeholder="Enter email here...">
	            <input type="hidden" value="{{ mailingList }}" name="uri">
	            <input type="hidden" name="loc" value="en_US">
	            <div id="submit-buttons">
	                <p class="submit-email-container"><input type="submit" class="submit-email" value="See My Results"></p>
	                <p class="skip-link"><a role="button" class="skip">Skip this step</a></p>
	            </div>
	        </form>
		</div>
	</div>
</div>